# -------- Core Python --------
python-dotenv

# -------- UI --------
streamlit

# -------- LLM --------
langchain
langchain-core
langchain-community
langchain-groq

# -------- RAG / NLP --------
sentence-transformers
faiss-cpu
rank-bm25
pypdf

# -------- API Server --------
fastapi
uvicorn

# -------- Utilities --------
requests
